{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Wiki page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container_for_flex">
            <div class="column_1">{{body|safe}}</div>
            <div class="column_2"><a href="{% url 'edit_page' title %}"> Редагувати текст </a> </div>
        </div>

    </body>
</html>